html {
    min-height: 100%;
    position: relative;
  }

body{
    margin-bottom: 40px;
    background-color: #d2d2d2;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
}

.header1 {
    background-color: #2f2f2f;
    width: 100%;
    height: 70px;
}

.header1 p {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.header1 a:hover{
    color: #045D8C;
}

.header1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.header2 {
    background-color: #0f0f0f;
    height: 42px;
    display: flex;
    margin-top: -12px;
}

.header2 img{
    margin-top: -66px;
    margin-left: 80px;
}

.header2 ul{
    margin-top: 10px;
    margin-left: 40px;
}

.header2 li{
    color: #ffffff;
    display: inline;
    margin-right: 40px;
    
}

.header2 a{
    font-size: 22px;
}

.header2 li:hover{
    color: #045D8C;
}

.contenido{
    justify-content: center;
    display: flex;
}
.figura1{
    background-color: #ffffff;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    height: 40px;
    width: 400px;
    float: left;
    margin-right: 0px;
    border-left: #045D8C 2px solid;
    display: flex;
    align-items: center;
}

.figura2{
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    height: 40px;
    width: 600px;
    margin-left: -40px;
    padding: 0px;
    float: left;
    display: flex;
    align-items: center;
}

.figura1 p{
    margin-left: 25px;
    font-size: 22px;
}

.figura2 p{
    margin-left: 70px;
    font-size: 20px;
}

.pie{
    background-color: #0f0f0f;
    height: 60px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pie p{
    color: #ffffff;
    margin-left: 20px;
}

a{
    color:#ffffff;
    text-decoration: none;
}

table{
    margin: 0% auto;
    margin-top: 20px;
    margin-bottom: 100px;
}
.tituloTabla{
    background-color: #ffffff;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.partido{
    background-color: #ffffff;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.validar{
    height: 40px;
    width: 100px;
    background-color: #045D8C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventos{
    background-color: #ffffff;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.equipo{
    background-color: #ffffff;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editar{
    background-color: #045D8C;
    color: #ffffff;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
table p{
    margin: 5px;
}

.agregar{
    background-color: transparent;
    border: #045D8C 2px solid;
    margin-left: 100px;
    
}
