
<form id="createJugadorForm">
    <p class="h3 text-center"><u>Crear jugador</u></p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCreateCIUser">C.I</label>
            <input type="number" class="form-control" id="inputCreateCIUser" placeholder="XXXXXXXX" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputFechaNacJugador">Fecha de nacimiento:</label>
            <input type="date" class="form-control" id="inputFechaNacJugador" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCreateNameJugador">Nombre</label>
            <input type="text" class="form-control" id="inputCreateNameJugador" placeholder="Nombre..." required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputCreateApellidoJugador">Apellido</label>
            <input type="text" class="form-control" id="inputCreateApellidoJugador" placeholder="Apellido..." required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCreatePesoJugador">Peso</label>
            <input type="number" class="form-control" id="inputCreatePesoJugador" placeholder="Pesoº..." required>
        </div>
        <div class="form-group col-md-4">
            <label for="inputCreateAlturaJugador">Altura</label>
            <input type="number" class="form-control" id="inputCreateAlturaJugador" placeholder="Altura..." required>
        </div>
        <div class="form-group col-md-4">
            <label for="inputCreateDorsalJugador">Dorsal</label>
            <input type="number" class="form-control" id="inputCreateDorsalJugador" placeholder="Dorsal..." required>
        </div>
    </div>
    <div class="form-row justify-content-center mb-2">
        <label for="inputPosicionJugador">Posicion</label>
        <select id="inputPosicionJugador" class="inputPosicionJugador form-control" name="posiciones[]">
            <option selected value="" hidden>Elige una opcion:</option>
            {{#each posiciones}}
            <option value="{{this.idposicion}}-{{this.iddeporte}}">{{this.nombre}} - {{this.nomdeporte}}</option>
            {{/each}}
        </select>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" id="createUserSubmitButton"><i class="fas fa-user-plus"></i></i>
            Crear</button>
        <div class="container w-50 mt-4">
            <div class="alert" id="alert">Algo sucedió...</div>
        </div>
    </div>
</form>