<form id="getDeporteForm">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6 w-50">
            <label for="inputGetDeporte"><b>Buscar deporte por nombre:</b></label>
            <input type="text" class="form-control" id="inputGetDeporte" placeholder="Nombre..." required>
        </div>
    </div>
     <div class="text-center">
        <button type="submit" class="btn btn-primary" id="getDeporteSubmitButton"><i class="fas fa-search"></i> Buscar</button>
        <div class="container w-50 mt-4">
            <div class="alert" id="alert">Algo sucedió...</div>
        </div>
    </div>
    <hr class="my-4">
</form>