<form id="getUserForm">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6 w-50">
            <label for="inputGetUser"><b>Buscar usuario por correo electronico</b></label>
            <input type="email" class="form-control" id="inputGetUser" placeholder="ejemplo@correo.com" required>
        </div>
    </div>
     <div class="text-center">
        <button type="submit" class="btn btn-primary" id="getUserSubmitButton"><i class="fas fa-search"></i> Buscar</button>
        <div class="container w-50 mt-4">
            <div class="alert" id="alert">Algo sucedió...</div>
        </div>
    </div>
    <hr class="my-4">
</form>