<h1 class="display-12">Bienvenid@! -  {{NombreUsuario}} {{ApellidoUsuario}}</h1>
<p>Tienes el rol {{nombreRol}}</p>
<hr class="my-4"> <a class="mt-2 btn btn-outline-dark" href="menu_usuario.html"> Menu de usuario </a>