<div class="w-50 mx-auto mt-4">
    <ul class="list-group">
        {{#each competencias}}
        <a href="competencia.html?idcompetencia={{this.idcompetencia}}"><li class="list-group-item">{{this.nombre}}
        </li></a>
        {{/each}}
    </ul>
</div>