<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuarios</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="navCreateUser">Crear usuario</a>
        <a class="dropdown-item" href="#" id="navUpdateUser">Modificar usuario</a>
        <a class="dropdown-item" href="#" id="navDeleteUser">Eliminar usuario</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Deportes</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="navCreateDeporte">Crear Deporte</a>
        <a class="dropdown-item" href="#" id="navUpdateDeporte">Modificar Deporte</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Jugadores</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="navCreateJugador">Crear jugador</a>
        <a class="dropdown-item" href="#" id="navUpdateJugador">Modificar jugador</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Equipos</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="navCreateEquipo">Crear equipo</a>
        <a class="dropdown-item" href="#" id="navUpdateEquipo">Modificar Equipo</a>
    </div>
</li>
