.figura-login-1{
    background-color: #2f2f2f;
    height: 500px;
    width: 350px;
    display:list-item;
    list-style: none;
    align-items: center;
}
.figura-login-2{
    background-color: #d2d2d2;
    height: 380px;
    width: 300px;
    display: grid;
    align-items: center;
}
form{
    margin-top: -40px;
}
.texto-login{
    text-align: center;
    color: #d2d2d2;
    font-size: 40px;
    padding-top: 15px;
    font-weight: 700;
}

input:valid,
textarea:valid {
    border-color: rgb(108, 172, 108);
    background-color: rgba(108, 172, 108, 0.507);
}

input:invalid,
textarea:invalid {
    border-color: rgba(172, 0, 0, 0.473);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px #2f2f2f solid;
    border-radius: 7px;
    font-size: 19px;
    text-align: center;
}

input:focus{
    outline: none;
}

h1{
    margin-top: 20px;
}
.recuperacionContrasenia{
    color: #2f2f2f;
}
.recuperacionContrasenia:hover{
    color: #2f2f2f;
}
.btn{
    border: 2px #2f2f2f solid;
    width: 100%;
    margin-top: 40px;
    font-weight: 600;
}
.btn:hover{
    background-color: #045D8C;
    border-color: #045D8C;
    color: #d2d2d2;
}